/* CSS Styles */

body {
    min-height: 200px;
    padding-top: 70px;
    padding-bottom: 50px;
    background: url("../images/4px-bg.png") repeat;
    background-attachment: fixed;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
}

.post {
    padding: 1.5em;
    background-color: #F5F5F5;
    border-radius: 6px;
}

.post_excerpt {
    background-color: #F5F5F5;
    border-radius: 6px;
    padding: 1.5em;
    margin-bottom: 20px;
    display: none;
}

.about {
    min-height: 500px;
    padding: 1.5em;
    background-color: #F5F5F5;
    border-radius: 6px;
}

.contact_me {
    padding-top: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 1.5em;
    background-color: #F5F5F5;
    border-radius: 6px;
}

body hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #DDD;
    margin: 1em 0;
    padding: 0; 
}

.navbar-fixed-bottom.navbar {
    min-height: 25px;
}

.img-circle.img-responsive {
    margin: auto;
}

#post_content {
    text-align: justify;
    text-justify: inter-word;
}

textarea {
    resize: vertical;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
    text-align: center;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    min-width: 300px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -150px;;
}

.table-row {
    background-color: whitesmoke;
}

.mark {
    background-color: lightgrey;
    border-color: #0f0f0f;
    border-style: solid;
}